/** Windows and MAC OS Styles */


.toast {
    backdrop-filter: blur(5px);
}

.modal {
    backdrop-filter: blur(15px);
}

.modal-dialog {
    max-width: 750px;
}

/* for firefox */
@-moz-document url-prefix() {
    .toast-body {
        backdrop-filter: none;
        background-color: white !important;
    }

    .modal::before {
        filter: blur(10px)
    }
  }